body{
    background: #cf7d03;
}

/* HEADER*/
header{
    background-image: url("../imagenes/head1.png");
    background-size: cover; 
    max-height:20rem;
    display: flex;
    color: #ab0707;
}

.titulo{
    padding: 80px 0 100px 80px;    
}

.logo-dragon{
    margin-left: 50rem; 
}

.card{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    padding: 1.8rem 9rem 1.8rem 1.8rem;
    margin: 30px;
    border-radius: 10px;
    background: rgb(241, 190, 7);
    max-width: 62.5rem;
}

/*MAIN*/
.producto-item{
    display: flex;
    align-items: center;
    font-size: 40px;   
}

.producto{
    margin-right: 8.7rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    width: 30rem;
    border-radius: 10px;
}

.decorativo{
    height: 106rem; 
    width: 22rem ; 
    margin: 6.5rem 0 0 3rem;
}

/*FOOTER*/
footer{
    padding: 40px;
    background: rgb(241, 190, 7);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

